.card{
    background-color: #333333;
    box-sizing: border-box;
    width: calc(20% - 24px);
    border: 2px solid #64C940;  
    margin: 12px;
    padding: 12px;
}
.card img{
    width: 100%;
    display: block;
}
.card p.card-info__name {
    margin:0;
    font-size: 18px;
    font-weight: bold;
}
.card p.card-info__name span{
    display: block;
    width: 100%;
    font-size: 12px;
    font-weight: normal;
}
.card-info__generic{
    margin: 0;
    font-size: 12px;
    font-weight: bold;
}
.card-info__generic span{
    font-weight: normal;
}
